.nav-item span {
    font-size: 1.2em !important;
}

.wrap-content-layout {
    padding: 3% 5%;
}

.main-content {
    height: 100vh;
}

.main-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}